@import "colors";

.nav-item {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.navbar {
  padding: 0 1em;
  box-shadow: 0 0 2px $box-shadow;
}

.navbar-brand {
  padding: 1rem 0;
}

.nav-link {
  cursor: pointer;
}