@import "colors";
.button {
    margin: 0 auto;
    font-size: 3vw;
    display: table;
    width: 10vw;
    height: 10vw;
    max-width: 5em;
    max-height: 5em;
    min-width: 1em;
    min-height: 1em;
    cursor: pointer;
    transition: background-color .1s;
    transition-timing-function: ease-in-out;
    background-color: $black;
    color: lightgray;
     &:hover {
       background-color: $black-hover;
       color: white;
     }
    > span {
        vertical-align: middle;
        display: table-cell;
        height: fit-content;
    }
}