@import "colors";
.category {
  margin: .5rem 0 .5rem 0;
  padding-bottom: .5rem;
  box-shadow: 0 2px 4px rgb(187, 187, 187);
}

.category-item {
  margin: 0 1rem;
}

.row {
  margin: 0 2em;
}

.category-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //place-content: center;
}