.imageToggle {
  margin: 0 auto; }
  .imageToggle > div {
    display: inline-block;
    padding: 2vw;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    width: 10vw;
    max-width: 3em;
    min-width: 1em;
    height: 10vw;
    max-height: 3em;
    min-height: 1em;
    margin: 0 auto;
    transition: background-color .3s;
    transition-timing-function: ease-in-out; }
    .imageToggle > div.true {
      background-color: #52d1dc;
      color: #6d6d6d; }
      .imageToggle > div.true:hover {
        background-color: #58bec7;
        color: black; }
    .imageToggle > div.false {
      background-color: #292f36;
      color: lightgray; }
      .imageToggle > div.false:hover {
        background-color: #3e4752;
        color: white; }

span {
  line-height: 0vw; }

.imageToggle-false > p {
  color: red;
  text-shadow: 0 0 10px red; }

.imageToggle-true > p {
  color: #13a700;
  text-shadow: 0 0 10px #13a700; }

.imageToggle > p, .slidecontainer > p {
  text-align: center; }
