.imageToggle {
  margin: 0 auto;
}
.imageToggle>div{
  cursor: pointer;
  border-radius: 50%;
  width: 10vw;
  max-width: 3em;
  min-width: 1em;
  height: 10vw;
  max-height: 3em;
  min-height: 1em;
  margin: 0 auto;
  transition: background-color .3s;
  transition-timing-function: ease-in-out;
}
.imageToggle>div.true {
  background-color: var(--color-lit);
}
.imageToggle>div.false {
  background-color: var(--color-unlit);
}

.imageToggle>div.true:hover {
  background-color: var(--color-lit-hover)
}

.imageToggle>div.false:hover {
  background-color: var(--color-unlit-hover);
}
.imageToggle-false>p {
color: #52d1dc;
}

.imageToggle-true>p {
color: red;
}

.imageToggleMargin {
  margin-top: 2em;
}

img {
  border-radius: 50%;
}

.imageToggle>p,.slidecontainer>p{
  text-align: center;
}

.props {
  transition: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.props:hover {
  transform: rotate(90deg);
  transition: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}