:root {
  --blue: rgba(30, 232, 247, 0.95);
}

.title-4 {
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: #52d1dc; */
    background-color: var(--blue);
    z-index: 50;
    font-size: 6vw;
    font-family: 'Comfortaa', cursive;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .01rem;
    word-spacing: .6rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .title-2 {
    padding: 0.1rem;
    font-size: 1.5em;
    background-color: #292f36;
    z-index: 15;
    position: relative;
    font-family: 'Slabo 27px', serif;
  }

  .title-1 {
    font-size: 1em;
    background-color: #90e1e8;
    width: fit-content;
    display: inline-block;
    padding: 0 1rem .05rem 1rem;
    margin-bottom: 1rem;
    z-index: 10;
    position: relative;
    border-radius: 0 0 12.5% 12.5%;
  }

#title-placeholder {
   padding-top: 1rem;
   padding-bottom: 1rem;
   /* background-color: #52d1dc; */
   background-color: var(--blue);
   opacity: 50%;
   z-index: 50;
   font-size: 6vw;
   font-family: 'Comfortaa', cursive;
   font-variant: small-caps;
   font-weight: bold;
   letter-spacing: .01rem;
   word-spacing: .6rem;
   width: 100%;
   color: white;
}