@import "colors";
.Button {
  margin: 0 auto;
  >div {
    >p {
      font-size: 1.5em;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      &.single {
        font-size: 4em;
      }
    }
    display: table;
    padding: 2vw;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    max-width: 4em;
    min-width: 1em;
    height: 10vw;
    max-height: 4em;
    min-height: 1em;
    margin: 0 auto;
    transition: background-color .1s;
    transition-timing-function: ease-in-out;
    border-radius: 15px;
    @media screen and (max-width:500px) {
      width: 20vw;
      height: 20vw;
    }
    &.false {
      background-color: $black;
      color: lightgray;
      // &:hover {
      //   background-color: $black-hover;
      //   color: white;
      // }
    }
    
  }
  &.square>div {
    border-radius: 0;
    width: fit-content;
    
  }
}

.Button-false>p {
color: red;
text-shadow: 0 0 10px red;
}

.Button-true>p {
color: rgb(19, 167, 0);
text-shadow: 0 0 10px rgb(19, 167, 0);
}

.Button>p,.slidecontainer>p{
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
  &.invisible {
    border: 6px solid rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) transparent transparent transparent;
  }
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
