@import "colors";
.Button {
  margin: 0 auto;
  >div {
    >p {
      font-size: 7vw;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      &.single {
        font-size: 4em;
      }
    }
    display: table;
    padding: 2vw;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    max-width: 4em;
    min-width: 1em;
    height: 10vw;
    max-height: 4em;
    min-height: 1em;
    margin: 0 auto;
    transition: background-color .1s;
    transition-timing-function: ease-in-out;
    border-radius: 20%;
    @media screen and (max-width:500px) {
      width: 20vw;
      height: 20vw;
    }
    &.false {
      background-color: $black;
      color: lightgray;
      // &:hover {
      //   background-color: $black-hover;
      //   color: white;
      // }
    }
    
  }
  &.square>div {
    border-radius: 0;
    width: fit-content;
    
  }
}

.Button-false>p {
color: red;
text-shadow: 0 0 10px red;
}

.Button-true>p {
color: rgb(19, 167, 0);
text-shadow: 0 0 10px rgb(19, 167, 0);
}

.Button>p,.slidecontainer>p{
  text-align: center;
}