@import "colors";
.console {
    background-color: $black;
    width: 90%;
    border-radius: 10px;
    padding: 1em 0 1em 1em;
    overflow-y: scroll;
    max-height: 300px;
    scrollbar-base-color: white;
    scrollbar-color: white;
    scrollbar-face-color: #ffffff;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1; 
}

.console_line {
    margin: 0;
    padding: 0;
    >p {
        margin: 0;
        text-align: left;
        color: white;
        font-family: monospace;
    }
}