@import "colors";

.selector {
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;
    /* margin-left: 40px;; */
}

.selector .selected {
    background-color: $black;
    padding: .2rem;
    cursor: pointer;
    width: 25vw;
    color: white;
}

#selector-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the #selector items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

#selector-items div {
    padding: .2rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    &.selected {
        background-color: $black;
    }
    &:not(.selected):hover {
        background-color: #e9e9e9;
    }
  }