@import "colors";

.slidecontainer {
    width: 100%;
}

.innerContainer {
  margin: 1em;
} 

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 95%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: $black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: width .2s;
    margin: 1em 0em 1em 0em;
}

.disabled .close:focus, .close:hover{
    cursor: default;
}



.slider:hover {
    width: 100%
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #52d1dc; /* Green background */
    cursor: pointer; /* Cursor on hover */
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    &:hover {
      transform: rotate(45deg);
      transition-property: transform;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
    }
  }
  .slider::-moz-range-thumb {
    transform: rotate(0deg);
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #52d1dc; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 0;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    &.disabled{
      background-color: grey;
    }
    &:hover {
      transform: rotate(45deg);
      transition-property: transform;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
    }
  }


.freqButton {
  cursor: pointer;
  background-color: $blue;
  margin: 1vw;
  border-radius: 5%;
  padding: 0;
}

.freqButton>p {
  font-size: 4vmin;
  margin: 0;
  color: rgb(109, 109, 109);
}

.freqButton>p:hover {
  background-color: $blue-hover;
  color: black;
}